.container {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 12px;
  background: #fff;
  width: 100%;
  height: 100%;
  color: #111827;
}

.editorHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workArea {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.editorContainer {
  flex: 1;
}

.mermaidContainer {
  flex: 1;
  padding: 4px;
  overflow: auto;
}

.validChip {
  background: #abcbca;
  border-radius: 8px;
  padding: 4px;
  font-size: small;
}

.invalidChip {
  background: lightcoral;
  border-radius: 8px;
  padding: 4px;
  font-size: small;
}

.chipContainer {
  display: flex;
  justify-content: flex-end;
}